body {
	background: #F5F5F5;
	font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;

	&.loading .loader {
		font-size: 90px;
		text-indent: -9999em;
		overflow: hidden;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		/*margin: 0.8em auto;*/
		position: fixed;
		margin-top: -0.5em;
		margin-left: -0.5em;
		top: 50%;
		left: 50%;
		-webkit-animation: load6 1.5s infinite ease;
		animation: load6 1.5s infinite ease;
	}

	&.loaded .loader {
		display: none;
	}
}

@-webkit-keyframes load6 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		box-shadow: -0.11em -0.83em 0 -0.4em #444, -0.11em -0.83em 0 -0.42em #444, -0.11em -0.83em 0 -0.44em #444, -0.11em -0.83em 0 -0.46em #444, -0.11em -0.83em 0 -0.477em #444;
	}
	5%, 95% {
		box-shadow: -0.11em -0.83em 0 -0.4em #444, -0.11em -0.83em 0 -0.42em #444, -0.11em -0.83em 0 -0.44em #444, -0.11em -0.83em 0 -0.46em #444, -0.11em -0.83em 0 -0.477em #444;
	}
	30% {
		box-shadow: -0.11em -0.83em 0 -0.4em #444, -0.51em -0.66em 0 -0.42em #444, -0.75em -0.36em 0 -0.44em #444, -0.83em -0.03em 0 -0.46em #444, -0.81em 0.21em 0 -0.477em #444;
	}
	55% {
		box-shadow: -0.11em -0.83em 0 -0.4em #444, -0.29em -0.78em 0 -0.42em #444, -0.43em -0.72em 0 -0.44em #444, -0.52em -0.65em 0 -0.46em #444, -0.57em -0.61em 0 -0.477em #444;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		box-shadow: -0.11em -0.83em 0 -0.4em #444, -0.11em -0.83em 0 -0.42em #444, -0.11em -0.83em 0 -0.44em #444, -0.11em -0.83em 0 -0.46em #444, -0.11em -0.83em 0 -0.477em #444;
	}
}
@keyframes load6 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		box-shadow: -0.11em -0.83em 0 -0.4em #444, -0.11em -0.83em 0 -0.42em #444, -0.11em -0.83em 0 -0.44em #444, -0.11em -0.83em 0 -0.46em #444, -0.11em -0.83em 0 -0.477em #444;
	}
	5%, 95% {
		box-shadow: -0.11em -0.83em 0 -0.4em #444, -0.11em -0.83em 0 -0.42em #444, -0.11em -0.83em 0 -0.44em #444, -0.11em -0.83em 0 -0.46em #444, -0.11em -0.83em 0 -0.477em #444;
	}
	30% {
		box-shadow: -0.11em -0.83em 0 -0.4em #444, -0.51em -0.66em 0 -0.42em #444, -0.75em -0.36em 0 -0.44em #444, -0.83em -0.03em 0 -0.46em #444, -0.81em 0.21em 0 -0.477em #444;
	}
	55% {
		box-shadow: -0.11em -0.83em 0 -0.4em #444, -0.29em -0.78em 0 -0.42em #444, -0.43em -0.72em 0 -0.44em #444, -0.52em -0.65em 0 -0.46em #444, -0.57em -0.61em 0 -0.477em #444;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		box-shadow: -0.11em -0.83em 0 -0.4em #444, -0.11em -0.83em 0 -0.42em #444, -0.11em -0.83em 0 -0.44em #444, -0.11em -0.83em 0 -0.46em #444, -0.11em -0.83em 0 -0.477em #444;
	}
}

.network-status, body.loaded.status-offline .network-status, h1 .status-icon {
	display: none;
}

.status-offline .network-status, .error-status {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 32px;
	color: rgba(0,0,0,0.5);
	text-shadow: 1px 1px rgba(255,255,255, 0.5);
	background: #D5DCE3;
	display: table;
	width: 100%;
	height: 100%;


	p {
		text-align: center;
		display: table-cell;
		vertical-align: middle;
	}
}

.error-status p .reload-pulls {
	display: block;
	font-size: 0.5em;
	margin-top: 1em;
	text-align: center;
}

body.loaded.status-error .error-warning .error-status {
	background: none;
	position: static;
	height: auto;
	width: auto;
	display: block;
	font-size: 16px;
}

body.loaded.status-error .error-warning h1 {
	font-size: 18px;
	margin: 0;
}

body.loaded.status-error .error-warning .error-status p {
	display: block;
}

body.loaded.status-error .error-warning .error-status p .reload-pulls {
	font-size: 14px;
}

body.loaded.status-offline > h1 .status-icon {
	display: inline-block;
	margin: 16px 0;
	float: right;
}

.error-status .glyphicon-exclamation-sign {
	vertical-align: top;
	margin: 5px;
}

.avatar {
	width: 20px;
	min-height: 20px;
	border-radius: 2px;
	border: 1px solid #ccc;
	margin-right: 0.5rem;
}

.pulls-branch {
	margin-bottom: 15px;
}

.pulls-branch:last-of-type {
	margin-bottom: 0;
}

.pulls {
	border-top: 1px solid #eee;
	margin-top: 5px;
	padding: 0.6em 0 0;
}

.pull {
	margin-bottom: 0.25em;
	padding-bottom: 0.25em;
	border-bottom: 1px solid #fafafa;
}

.pull:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-width: 0;
}

.property-title {
	font-size: 1.1em;
}

.pull-count {
	background: #09C;
	border-radius: 5px;
	padding: 6px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 0.7em;
	line-height: 1;
	z-index: 5;
	text-align: center;
}

.login form {
	margin: 0 auto;
	width: 300px;
}

.account-bar {
	background-color: #EEE;
	position: fixed;
	top: 0;
	border-bottom: 2px solid #CCC;
	left: 0;
	right: 0;
	padding: 1em;
	display: -webkit-flex;
	-webkit-align-content: center;
	-webkit-justify-content: space-between;
	-webkit-transition: background-color 0.5s;
	z-index: 10;
}

.account-bar .logout {
	-webkit-flex: 1 auto;
	text-align: right;
	display: inline-block;
	line-height: 32px;
}

.account-bar .user-info {
	-webkit-flex: 1 auto;
}

.account-bar .user-info img {
	border-radius: 50%;
	width: 32px;
}

.account-bar .app-title {
	-webkit-flex: 1 auto;
	font-weight: bold;
	line-height: 32px;
	text-align: center;
	font-size: 18px;
}

.account-bar .app-title .pull-count {
	line-height: 0;
	padding: 10px 8px;
}

.load-devtools {
	position: fixed;
	bottom: 5px;
	right: 5px;
	padding: 5px;
	opacity: 0.5;
	cursor: pointer;
}

.load-devtools:hover {
	opacity: 1;
}

.devtools-loaded .load-devtools {
	background: rgba(0, 153, 204, 0.45);
	opacity: 1;
	border-radius: 5px;
}

body.loaded {
	padding-top: 70px;
}

/*	body.loaded.loading .account-bar {
	background: lightyellow;
}

body.loaded.loading .account-bar .app-title {
	background: url(aui/build/aui-skin-classic/images/loading_indicator.gif) no-repeat 100% 50%;
}
*/
.loading .account-bar {
	border-bottom-color: #DDD;
}

.loading-bar {
	background: #09C;
	display: none;
	height: 2px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 800;
	-webkit-transform: translateX(100%);
}

.account-bar .loading-bar {
	position: absolute;
	top: auto;
	bottom: -2px;
}

@-webkit-keyframes shift-rightwards {
	0% {
		-webkit-transform: translateX(-100%);
	}

	40% {
		-webkit-transform: translateX(0%);
	}

	60% {
		-webkit-transform: translateX(0%);
	}

	100% {
		-webkit-transform: translateX(100%);
	}
}

.loading .loading-bar {
	display: block;
	-webkit-animation: shift-rightwards 1s ease-in-out infinite;
	-webkit-animation-delay: .4s;
}

.repo {
	border: 1px solid #EEE;
	border-radius: 4px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	border-radius: 2px;
	background-clip: padding-box;
	margin-top: 10px;
	background-color: #FFF;
}
.repo > h2 {
	font-size: 24px;
	line-height: 48px;
	padding: 16px;
	padding-top: 8px;
	margin: 0;
	padding-bottom: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.repo > h2 .repo-name, .repo > h2 .pull-count {

}

.repo > ul {
	padding: 16px;
	border-radius: 0 0 2px 2px;
	background-clip: padding-box;
	padding-top: 0;
}

.pull {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.pull-info {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pull-meta {
	border-radius: 1.5em;
	border: 1px solid #EEE;
	display: inline-block;
	flex-shrink: 0;
	font-size: 10px;
	white-space: nowrap;
}

.pull-meta .create-date, .pull-meta .from-user {
	display: inline-block;
	padding: 2px 4px;
	vertical-align: middle;
}

.pull-meta .create-date {
	background-color: #EEE;
	border-radius: 0 1.5em 1.5em 0;
	display: inline-block;
	padding-right: 9px;
}

.pull-meta .from-user {
	padding-left: 9px;
}
/*
.loading .account-bar .pull-count {
	-webkit-animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg) }
}
*/
/*	body h1 {
	-webkit-transition: background-color 0.5s;
}
body.loaded.loading > h1 {
	background: lightyellow url(aui/build/aui-skin-classic/images/loading_indicator.gif) no-repeat 100% 50%;
	padding-right: 20px;
}
*/