@import "bourbon";
@import "lexicon/release/scss/atlas-variables";

.account-bar {
	background-color: $header-toolbar-default-bg;
	border: $header-toolbar-default-border-width solid $header-toolbar-default-border;
	font-size: 14px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 1em 0;
	transition: background-color 0.5s;
	z-index: 10;

	-webkit-app-region: drag;
	-webkit-user-select: none;

	&, a {
		color: #FFF;
	}

	> .app-column {
		@include align-content(center);
		@include display(flex);
		@include justify-content(space-between);
	}

	.logout {
		flex-grow: 0;
		text-align: right;
		display: inline-block;
		line-height: 32px;
	}

	.user-info {
		flex-grow: 0;
	}

	.user-info img {
		border-radius: 50%;
		width: 32px;
	}

	.user-icon {
		display: inline-block;
		overflow: visible;
		vertical-align: middle;
	}

	.app-column {
		position: relative;
	}

	.app-title {
		flex-grow: 1;
		font-weight: bold;
		line-height: 32px;
		text-align: center;
		font-size: 18px;
		z-index: 100;
	}

	.app-title .pull-count {
		line-height: 0;
		padding: 10px 8px;
	}

	.management-bar {
		opacity: 0;
		position: absolute;
		top: 100%;
		transition: transform 0.25s, opacity 0.5s;
		transition-delay: 0.5s, 0.35s;
		transform: translateY(-100%);
		transform-origin: 0 0;
		width: 100%;

		.display-compact-icon {
			path:nth-of-type(3), path:nth-of-type(5) {
				transform: translateY(100px);
			}

			path:nth-of-type(2), path:nth-of-type(6) {
				transform: translateY(-100px);
			}
		}

		.display-cozy-icon {
			path:nth-of-type(3), path:nth-of-type(5) {
				transform: translateY(50px);
			}

			path:nth-of-type(2), path:nth-of-type(6) {
				transform: translateY(-50px);
			}
		}

		.display-comfortable-icon {
			path:nth-of-type(3), path:nth-of-type(5) {
				transform: translateY(-15px);
			}

			path:nth-of-type(2), path:nth-of-type(6) {
				transform: translateY(15px);
			}
		}
	}

	&:hover {
		.management-bar {
			opacity: 1;
			transform: translateY(0);
			transition-delay: 0s, 0s;
		}
	}
}

.modal-open {
	.management-bar {
		display: none;
	}
}

.loading-bar {
	display: none;
	height: 15px;
	left: 50%;
	max-width: 680px;
	position: absolute;
	bottom: 0;

	transform: translateX(-50%);
	width: 100%;
	z-index: -1;
}

@keyframes shift-rightwards {
	0% {
		transform: translateX(-100%);
	}

	40% {
		transform: translateX(0);
	}

	60% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(100%);
	}
}

.loaded.loading {
	.account-bar {
		// &:after {
		// 	animation: shift-rightwards 1s ease-in-out infinite;
		// 	content: '';
		// 	position: absolute;
		// 	width: 100%;
		// 	background: #07C;
		// 	height: 2px;
		// 	top: 0;
		// }
	}

	.loading-bar {
		-webkit-filter: url('#goo-drops');
		display: block;

		.loading-effect {
			-webkit-filter: url('#goo');
			background: $header-toolbar-default-bg;
			position: absolute;
			height: 40px;
			width: 100%;
			bottom: 0;
		}

		.loading-dot {
			$width: 18px;
			$offset: 10px;

			animation: yoyo 1s ease-in-out infinite;
			background-color: $header-toolbar-default-bg;
			border-radius: 50%;
			display: block;
			height: $width;
			position: absolute;
			right: $offset;
			top: 0;
			transform: translateZ(0);
			width: $width;
			z-index: 0;

			@for $i from 1 through 3 {
				&:nth-child(#{$i}) {
					animation-delay: $i * 0.1s;
					$noffset: $offset * $i + ($width * ($i - 1));
					right: calc(50% - #{$noffset});
				}
			}
		}
	}
}

.loader-effect {
	display: none;
}

@keyframes yoyo {
	0% {
		transform: translate3d(0, 0, 0);
		background-color: $header-toolbar-default-bg;
	}

	25%, 80% {
		background-color: $header-toolbar-default-bg;
	}

	50% {
		transform: translate3d(0, 30px, 0);
		background-color: $brand-primary;
	}

	100% {
		transform: translate3d(0, 0, 0);
		background-color: $header-toolbar-default-bg;
	}
}

.display-compact {
	.account-bar {
		padding: 0.5em 0;

		.loading-bar {
			// bottom: -0.5em;
		}

		.management-bar {
			min-height: 48px;

			.management-bar-header-right .btn {
				margin-bottom: 6px;
				margin-top: 6px;
			}

			.reload-pulls {
				padding: 8px 15px;
			}
		}
	}
}