@import "bourbon";

$icon-font-path: '../../bower_components/lexicon/release/fonts/';

@import "lexicon/release/scss/atlas";

@import "login";
@import "config";

@import "error_msg";

@import "app";
@import "account_bar";
@import "repo";
@import "branch";
@import "pull_request";

.load-devtools {
	position: fixed;
	bottom: 5px;
	right: 5px;
	padding: 5px;
	opacity: 0.5;
	cursor: pointer;
}

.load-devtools:hover {
	opacity: 1;
}

.devtools-loaded .load-devtools {
	background: rgba(0, 153, 204, 0.45);
	opacity: 1;
	border-radius: 5px;
}

.display-compact {
	padding-top: 56px;
}