.repo-list {
	// perspective: 200em;

	.repo {
		transform-origin: 50% 0;
		// transition-delay: 0.3s;

		&:not(.repo-collapsed) + .repo-collapsed, &.repo-collapsed:first-child {
			margin-top: 10px;
		}
	}

	.repo-collapsed {
		// background-image: linear-gradient(to top, #EFEFEF 10%, #FFF);
		// background-color: #EFEFEF;

		margin-bottom: 0;

		> h2 {
			line-height: 42px;
			opacity: 0.8;
		}

		.pull-count {
			z-index: 0;
		}

		.repo-branches {
			// height: 0;
			overflow: hidden;
			padding: 0;
			margin: 0;
			display: block;
			max-height: 0;
		}

		@keyframes peek-branches {
			0% {
				// height: 0;
			}

			100% {
				max-height: 10000px;
				// height: auto;
				// padding: 16px;
				// padding-top: 0;
				overflow: visible;
			}
		}

		& {
			// transform: scale(0.98);
			transform: perspective(50em) scale(0.98) rotateX(-15deg);
			// z-index: 100;

			&:hover {
				// transform: scale(0.98) translateY(-15px);
				transform: perspective(50em) scale(0.98) rotateX(0) translateY(-15px);

				.repo-branches {
					animation: peek-branches 0.5s both ease;
					animation-delay: 0.7s;
					// padding: 16px;
					// padding-top: 0;
				}

			}

			&:nth-of-type(even) {
				// transform: rotateZ(0.5deg) translateX(2px);
			}

			&:nth-of-type(odd) {
				// transform: rotateZ(-0.5deg) translateX(-2px);
			}
			// transform: scale(0.98);
		}

		&, & + .repo:not(.repo-collapsed) {
			margin-top: 0;
			// border: 1px solid blue;
			// margin-top: -10px;
			// box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
			// 			0 2px 10px 0 rgba(0, 0, 0, 0.12),
			// 			0 -7px 10px 0 rgba(0, 0, 0, 0.1);
		}
	}

	// &:hover {
	// 	.repo {
	// 		transition-delay: 0s;
	// 	}
	// 	.repo-collapsed {
	// 		&, & + &, & + .repo:not(.repo-collapsed) {
	// 			margin-top: 10px;
	// 			transform: scale(1);
	// 		}
	// 	}
	// }
}