@import "bourbon";

$icon-font-path: '../../bower_components/lexicon/release/fonts/';

@import "lexicon/release/scss/atlas";

// @include keyframes(load6) {
// 	0% {
// 		-webkit-transform: rotate(0deg);
// 		transform: rotate(0deg);
// 		box-shadow: -0.11em -0.83em 0 -0.4em #444, -0.11em -0.83em 0 -0.42em #444, -0.11em -0.83em 0 -0.44em #444, -0.11em -0.83em 0 -0.46em #444, -0.11em -0.83em 0 -0.477em #444;
// 	}
// 	5%, 95% {
// 		box-shadow: -0.11em -0.83em 0 -0.4em #444, -0.11em -0.83em 0 -0.42em #444, -0.11em -0.83em 0 -0.44em #444, -0.11em -0.83em 0 -0.46em #444, -0.11em -0.83em 0 -0.477em #444;
// 	}
// 	30% {
// 		box-shadow: -0.11em -0.83em 0 -0.4em #444, -0.51em -0.66em 0 -0.42em #444, -0.75em -0.36em 0 -0.44em #444, -0.83em -0.03em 0 -0.46em #444, -0.81em 0.21em 0 -0.477em #444;
// 	}
// 	55% {
// 		box-shadow: -0.11em -0.83em 0 -0.4em #444, -0.29em -0.78em 0 -0.42em #444, -0.43em -0.72em 0 -0.44em #444, -0.52em -0.65em 0 -0.46em #444, -0.57em -0.61em 0 -0.477em #444;
// 	}
// 	100% {
// 		-webkit-transform: rotate(360deg);
// 		transform: rotate(360deg);
// 		box-shadow: -0.11em -0.83em 0 -0.4em #444, -0.11em -0.83em 0 -0.42em #444, -0.11em -0.83em 0 -0.44em #444, -0.11em -0.83em 0 -0.46em #444, -0.11em -0.83em 0 -0.477em #444;
// 	}
// }

@include keyframes(spin) {
	from {@include transform(rotateZ(0deg));}
    to {@include transform(rotateZ(360deg));}
}

.spin {
	@include animation(spin 1.5s infinite ease);
	color: transparent !important;
}

.network-status, body.loaded.status-offline .network-status, h1 .status-icon {
	display: none;
}

.status-offline .network-status, .error-status {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 32px;
	color: rgba(0,0,0,0.5);
	text-shadow: 1px 1px rgba(255,255,255, 0.5);
	background: #D5DCE3;
	display: table;
	width: 100%;
	height: 100%;

	p {
		text-align: center;
		display: table-cell;
		vertical-align: middle;
	}
}

.error-status p .reload-pulls {
	display: block;
	font-size: 0.5em;
	margin-top: 1em;
	text-align: center;
}

body {
	background: #F5F7F8;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.app-column {
	margin-left: auto;
	margin-right: auto;
	max-width: 680px;
}

.app-container {
	padding-top: 70px;
	padding-bottom: 20px;

	&.loading .loader {
		@extend .loading-icon;

		font-size: 90px;
		// text-indent: -9999em;
		// overflow: hidden;
		// width: 1em;
		// height: 1em;
		// border-radius: 50%;
		// /*margin: 0.8em auto;*/
		// position: fixed;
		// margin-top: -0.5em;
		// margin-left: -0.5em;
		// top: 50%;
		// left: 50%;
		// -webkit-animation: load6 1.5s infinite ease;
		// animation: load6 1.5s infinite ease;
	}

	&.loaded .loader {
		display: none;
	}

	&.loaded.status-error .error-warning .error-status {
		background: none;
		position: static;
		height: auto;
		width: auto;
		display: block;
		font-size: 16px;
	}

	&.loaded.status-error .error-warning h1 {
		font-size: 18px;
		margin: 0;
	}

	&.loaded.status-error .error-warning .error-status p {
		display: block;
	}

	&.loaded.status-error .error-warning .error-status p .reload-pulls {
		font-size: 14px;
	}

	&.loaded.status-offline > h1 .status-icon {
		display: inline-block;
		margin: 16px 0;
		float: right;
	}

	// &.loaded {
	// 	padding-top: 70px;
	// }
}

.modal-open {
	.repo-list {
		@include filter(blur(5px));
	}

	.config-repos {
		.input-group:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}

.modal-sheet {
	display: block;
	background-color: rgba(0,0,0,0.3);
	top: 62px;

	.modal-dialog {
		margin-top: 0;

		.modal-content {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-top-width: 0;
			box-shadow: none;

			&:after {
				@include background-image(linear-gradient(rgba(0, 0, 0, 0.1), transparent 50%));
				content: '';
				display: block;
				height: 10px;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
}

.error-status .glyphicon-exclamation-sign {
	vertical-align: top;
	margin: 5px;
}

.pulls-branch {
	// margin-bottom: 15px;
	margin-bottom: 0;
	box-shadow: none;
}

.pulls-branch:last-of-type {
	margin-bottom: 0;
}

.pulls {
	border-top: 1px solid #eee;
	margin-top: 5px;
	// padding: 0.6em 0 0;
	// padding: 16px;
}

.pull {
	margin-bottom: 0.25em;
	padding-bottom: 0.25em;
	border-bottom: 1px solid #fafafa;
}

.pull:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-width: 0;
}

.property-title {
	// font-size: 1.1em;
	font-weight: 300;
}

.pull-count {
	background: #09C;
	border-radius: 5px;
	padding: 6px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 0.7em;
	line-height: 1;
	z-index: 5;
	text-align: center;
}

.login form {
	margin: 0 auto;
	width: 300px;
}

.loading .account-bar {
	border-bottom-color: #DDD;
}

.loading-bar {
	background: #09C;
	display: none;
	height: 2px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 800;
	-webkit-transform: translateX(100%);
}

.account-bar {
	background-color: $header-toolbar-default-bg;
	border: $header-toolbar-default-border-width solid $header-toolbar-default-border;
	font-size: 14px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 1em 0;
	@include transition(background-color 0.5s);
	z-index: 10;

	&, a {
		color: #FFF;
	}

	> .app-column {
		@include align-content(center);
		@include display(flex);
		@include justify-content(space-between);
	}

	.logout {
		// -webkit-flex: 1 auto;
		flex-grow: 0;
		text-align: right;
		display: inline-block;
		line-height: 32px;
	}

	.user-info {
		// -webkit-flex: 1 auto;
		flex-grow: 0;
	}

	.user-info img {
		border-radius: 50%;
		width: 32px;
	}

	.user-icon {
		display: inline-block;
		overflow: visible;
		vertical-align: middle;
	}

	.app-title {
		// -webkit-flex: 1 auto;
		flex-grow: 1;
		font-weight: bold;
		line-height: 32px;
		text-align: center;
		font-size: 18px;
	}

	.app-title .pull-count {
		line-height: 0;
		padding: 10px 8px;
	}

	.loading-bar {
		position: absolute;
		top: auto;
		bottom: -2px;
	}
}

.load-devtools {
	position: fixed;
	bottom: 5px;
	right: 5px;
	padding: 5px;
	opacity: 0.5;
	cursor: pointer;
}

.load-devtools:hover {
	opacity: 1;
}

.devtools-loaded .load-devtools {
	background: rgba(0, 153, 204, 0.45);
	opacity: 1;
	border-radius: 5px;
}

/*	body.loaded.loading .account-bar {
	background: lightyellow;
}

body.loaded.loading .account-bar .app-title {
	background: url(aui/build/aui-skin-classic/images/loading_indicator.gif) no-repeat 100% 50%;
}
*/


@-webkit-keyframes shift-rightwards {
	0% {
		-webkit-transform: translateX(-100%);
	}

	40% {
		-webkit-transform: translateX(0%);
	}

	60% {
		-webkit-transform: translateX(0%);
	}

	100% {
		-webkit-transform: translateX(100%);
	}
}

.loading .loading-bar {
	display: block;
	-webkit-animation: shift-rightwards 1s ease-in-out infinite;
	-webkit-animation-delay: .4s;
}

.repo {
	// border: 1px solid #EEE;
	// border-radius: 4px;
	// box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	// border-radius: 2px;
	background-clip: padding-box;
	margin-top: 10px;
	background-color: #FFF;
	position: relative;
	transition: all 0.4s ease;
	// padding-left: 16px;

	&.repo-collapsed {
		.repo-branches {
			display: none;
		}

		> h2 {
			padding-top: 0;
		}

		.collapse-icon {
			top: 0.75em;
		}
	}

	.collapse-icon {
		background: #FFF;
		position: absolute;
		// right: 100%;
		left: 10px;
		top: 1.25em;
		// font-size: 1.25em;
		// width: 30px;
		// border-radius: 1em;
		// border-top-right-radius: 0;
		// border-bottom-right-radius: 0;
		// padding-left: 10px;
		cursor: pointer;
		display: none;

		&, &:before {
			border-radius: 1em;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:before {
			width: 100%;
			height: 100%;
			position: absolute;
			display: block;
			// box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			// border: 2px solid red;
			content: '';
			left: 0;
			top: 0;
			z-index: -1;
		}

		.fa {
			vertical-align: middle;
		}
	}

	&:hover .collapse-icon {
		display: block;
	}

	> h2 {
		cursor: pointer;
		font-size: 24px;
		line-height: 48px;
		padding: 16px;
		padding-top: 8px;
		margin: 0;
		padding-bottom: 0;

		display: flex;
		justify-content: space-between;
		align-items: center;

		&:after, &:before {
			display: none;
		}

		.repo-name, .pull-count {

		}
	}

}

.repo-list {
	// perspective: 200em;

	.repo {
		transform-origin: 50% 0;
		// transition-delay: 0.3s;

		&:not(.repo-collapsed) + .repo-collapsed, &.repo-collapsed:first-child {
			margin-top: 10px;
		}
	}

	.repo-collapsed {
		// background-image: linear-gradient(to top, #EFEFEF 10%, #FFF);
		// background-color: #EFEFEF;

		> h2 {
			line-height: 42px;
			opacity: 0.8;
		}

		.pull-count {
			z-index: 0;
		}

		.repo-branches {
			// height: 0;
			overflow: hidden;
			padding: 0;
			margin: 0;
			display: block;
			max-height: 0;
		}

		@keyframes peek-branches {
			0% {
				// height: 0;
			}

			100% {
				max-height: 10000px;
				// height: auto;
				// padding: 16px;
				// padding-top: 0;
				overflow: visible;
			}
		}

		& {
			transform: perspective(50em) scale(0.98) rotateX(-15deg);
			// z-index: 100;

			&:hover {
				transform: perspective(50em) scale(0.98) rotateX(0) translateY(-15px);

				.repo-branches {
					animation: peek-branches 0.5s both ease;
					animation-delay: 0.7s;
					// padding: 16px;
					// padding-top: 0;
				}

			}

			&:nth-of-type(even) {
				// transform: rotateZ(0.5deg) translateX(2px);
			}

			&:nth-of-type(odd) {
				// transform: rotateZ(-0.5deg) translateX(-2px);
			}
			// transform: scale(0.98);
		}

		&, & + .repo:not(.repo-collapsed) {
			// border: 1px solid blue;
			margin-top: -10px;
			// box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
			// 			0 2px 10px 0 rgba(0, 0, 0, 0.12),
			// 			0 -7px 10px 0 rgba(0, 0, 0, 0.1);
		}

		.collapse-icon:before {
			// box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			// box-shadow: none;
			// transform: rotateX(45deg) scale(1);
		}
	}

	// &:hover {
	// 	.repo {
	// 		transition-delay: 0s;
	// 	}
	// 	.repo-collapsed {
	// 		&, & + &, & + .repo:not(.repo-collapsed) {
	// 			margin-top: 10px;
	// 			transform: scale(1);
	// 		}
	// 	}
	// }
}

.repo-branches {
	// padding: 16px;
	border-radius: 0 0 2px 2px;
	background-clip: padding-box;
	padding-top: 0;
}

.pull {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.pull-info {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		flex-grow: 1;

		padding-left: 1px;
		padding-bottom: 1px;

		.avatar {
			width: 20px;
			min-height: 20px;
			// border-radius: 2px;
			// border: 1px solid transparent;
			margin-right: 0.5rem;
			box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.6);
		}
	}
}


.issue-labels {
	flex-shrink: 0;
}

.pull-meta {
	border-radius: 1.5em;
	border: 1px solid #EEE;
	display: inline-block;
	flex-shrink: 0;
	font-size: 10px;
	white-space: nowrap;
}

.pull-meta .create-date, .pull-meta .from-user {
	display: inline-block;
	padding: 2px 4px;
	vertical-align: middle;
}

.pull-meta .create-date {
	background-color: #EEE;
	border-radius: 0 1.5em 1.5em 0;
	display: inline-block;
	padding-right: 9px;
}

.pull-meta .from-user {
	padding-left: 9px;
}

.repo-leave {
	opacity: 1;

	&.repo-leave-active {
		opacity: 0.01;
		transition: opacity 0.5s ease-in;
	}
}

.repo-enter {
	opacity: 0.01;

	.repo-enter-active {
		opacity: 1;
		transition: opacity 0.5s ease-in 1s;
	}
}

.pull-leave {
	opacity: 1;
	transform: translateY(0);

	&.pull-leave-active {
		opacity: 0.01;
		transform: translateY(-1000%);
		transition: opacity 0.5s ease-in, transform 0.5s ease-in;
	}
}

.pull-enter {
	opacity: 0.01;
	background-color: transparent;
	transform: translateX(-100%);

	.pull-enter-active {
		opacity: 1;
		background-color: #FFFAD6;
		transition: opacity 0.5s ease-in, background-color 1s ease-in, transform 0.5s ease-in;
		transform: translateX(0);
	}
}

.display-compact {
	.repo {
		> h2 {
			// padding-top: 0;
			font-size: 16px;
			line-height: 24px;
		}

		.collapse-icon {
			top: 0.35em;
		}

		&.repo-collapsed .collapse-icon {
			top: -1px;
			bottom: -1px;

			border: 1px solid #EEE;
			border-right-width: 0;
			// height: 100%;
		}

		.repo-branches {
			padding-bottom: 0;
		}

		.property-title {
			font-size: 1em;
		}

		.pull-count {
			padding-top: 3px;
			padding-bottom: 3px;
		}

		.pull {
			font-size: 13px;
		}
	}
}

.lexicon-icon {
	width: 16px;
	height: 16px;
}

/*
.loading .account-bar .pull-count {
	-webkit-animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg) }
}
*/
/*	body h1 {
	-webkit-transition: background-color 0.5s;
}
body.loaded.loading > h1 {
	background: lightyellow url(aui/build/aui-skin-classic/images/loading_indicator.gif) no-repeat 100% 50%;
	padding-right: 20px;
}
*/