bin

.DS_Store
.AppleDouble
.LSOverride
Icon

node_modules
bower_components

css

build/app_files
build/cache
build/osx/post_build.sh
build/osx/cache
build/osx/Github Pulls
build/releases/**

npm-debug.log