.modal-open {
	.repo-list {
		@include filter(blur(5px));
	}

	.config-repos {
		.input-group:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	.config-popover {
		max-width: 300px;
	}
}

.modal-sheet {
	display: block;
	background-color: rgba(0,0,0,0.3);
	top: 60px;

	.modal-dialog {
		margin-top: 0;

		.modal-content {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-top-width: 0;
			box-shadow: none;

			&:after {
				@include background-image(linear-gradient(rgba(0, 0, 0, 0.1), transparent 50%));
				content: '';
				display: block;
				height: 10px;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}

			.config-section:nth-of-type(1) > h3 {
				margin-top: 0;
			}
		}
	}
}

.display-compact {
	.modal-sheet {
		top: 46px;
	}
}