.pull {
	.pull-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.pull-info {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		flex-grow: 1;

		padding-left: 1px;
		padding-bottom: 1px;
		padding-top: 1px;
	}

	.avatar {
		box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.6);
	}

	.comments, .pull-status {
		color: #869CAD;
		white-space: nowrap;

		.lexicon-icon {
			// .lexicon-icon-outline {
			// 	opacity: 0;

			// 	&:nth-of-type(2) {
			// 		opacity: 1;
			// 	}
			// }
		}
	}

	.pull-status-failure {
		color: $brand-danger;
	}

	.pull-status-success {
		color: $brand-success;
	}
}


.issue-labels {
	flex-shrink: 0;
}

.pull-meta {
	border-radius: 1.5em;
	border: 1px solid #EEE;
	display: inline-block;
	flex-shrink: 0;
	font-size: 10px;
	white-space: nowrap;
}

.pull-meta .create-date, .pull-meta .from-user {
	display: inline-block;
	padding: 2px 4px;
	vertical-align: middle;
}

.pull-meta .create-date {
	background-color: #EEE;
	border-radius: 0 1.5em 1.5em 0;
	display: inline-block;
	padding-right: 9px;
}

.pull-meta .from-user {
	padding-left: 9px;
}

.pull-leave {
	opacity: 1;
	transform: translateY(0);

	&.pull-leave-active {
		opacity: 0.01;
		transform: translateY(-1000%);
		transition: opacity 0.5s ease-in, transform 0.5s ease-in;
	}
}

.pull-enter {
	opacity: 0.01;
	background-color: transparent;
	transform: translateX(-100%);

	.pull-enter-active {
		opacity: 1;
		background-color: #FFFAD6;
		transition: opacity 0.5s ease-in, background-color 1s ease-in, transform 0.5s ease-in;
		transform: translateX(0);
	}
}

.display-cozy, .display-compact {
	.pull {
		border-width: 0;
		margin-bottom: 0;

		&:not(:last-child) {
			padding-bottom: 5px;
		}
		&:not(:first-child) {
			padding-top: 5px;
		}

		.pull-info {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			flex-grow: 1;

			padding-left: 1px;
			padding-bottom: 1px;
			padding-top: 1px;
		}

		.avatar {
			width: 20px;
			min-height: 20px;
			margin-right: 0.5rem;
		}

		$size: 12px;
		$right-margin: 3px;

		.comments {
			font-size: $size;
			margin-left: 5px;
			min-width: calc(#{$size + $right-margin} + 1ch);
			// text-align: center;

			// border: 1px solid;

			.comment-count {
				display: inline-block;

				// ch is the width of the 0 character
				// min-width: 2ch;
			}

			.lexicon-icon {
				height: $size;
				margin-right: $right-margin;
				width: $size;
			}
		}

		.pull-status {
			margin-right: 5px;

			.lexicon-icon {
				height: $size;
				width: $size;
			}
		}
	}
}

.display-comfortable {
	.pull-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.pull {
		.comments {
			.lexicon-icon {
				margin-right: 4px;
			}
		}

		.pull-status {
			.lexicon-icon {
				margin-left: 5px;
			}
		}
	}
}